#tiles .tile .title {
	padding:10px 0;
	font-size:16px;
	text-align:center;
	font-weight:bold;
	height:3em;
}
#tiles .image {
	text-align:center;
}
#tiles .description {
	color:#fff;
	position:absolute;
	bottom:-101%;
	min-height:80px;
	width:100%;
	padding:30px 5% 0;
	background:#002b6e;	
    transition: ease .4s;
	font-size:14px;
	box-sizing:border-box;
}
#tiles .tile:hover .description{
	bottom:0;
	display:block;
}
#tiles .description li {
	color:#fff;
}
#tiles img {
	width:100%;
}
@media (max-width:767px) {
	#tiles .tile {
		width:49%;
	}
}
@media (max-width:425px) {
	
	#tiles .tile {
		width:100%;
	}
}
#tiles a {
	text-decoration:none
}
#tiles .fa {
	font-size:100px;
	display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.bx-wrapper {
	background: none !important;
	border:0px !Important;
	box-shadow: none !important;
}

.bx-viewport {
	height:auto !important
}
.bx-wrapper .bx-prev {
	left:-30px;
}
.bx-wrapper .bx-next {
	right:-30px;
}
