#tiles {
	/*display:flex;
	flex-wrap:wrap;
	justify-content:space-between;*/
}
#tiles .tile {
	border-radius:5px;
	position:relative;
	overflow:hidden;
	min-height:195px;
	text-align:center;
}
#tiles.col1 .tile {
	width:100%;
	margin: 0 0 1% 0;
}
#tiles.col2 .tile {
	width:49%;
}
#tiles.col3 .tile {
	width:33%;
}
#tiles.col4 .tile {
	width:24%;
}
#tiles.col5 .tile {
	width:19%;
}
#tiles.col6 .tile {
	width:15%;
}