
.tiles_full #tiles .tile .title {
	padding:10px 0;
	font-size:16px;
	text-align:center;
	font-weight:bold;
	height:3em;
}
.tiles_full #tiles .image {
	text-align:center;
}
.tiles_full #tiles .description {
	color:#fff;
	position:absolute;
	bottom:-101%;
	height:100px;
	width:100%;
	padding:30px 5% 0;
	background:#002b6e;	
    transition: ease .4s;
	font-size:14px;
	box-sizing:border-box;
}
.tiles_full #tiles .tile:hover .description{
	bottom:0;
	display:block;
}
.tiles_full #tiles .description li {
	color:#fff;
}
.tiles_full #tiles img {
	width:100%;
}
@media (max-width:767px) {
	.tiles_full #tiles .tile {
		width:49%;
	}
}
@media (max-width:425px) {
	
	.tiles_full #tiles .tile {
		width:100%;
	}
}
.tiles_full #tiles a {
	text-decoration:none
}
.tiles_full #tiles .fa {
	font-size:100px;
	display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}